body {
    background-image: url(images/beautiful-japanese-forest-scene_23-2151498080.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-button {
    background-color: rgb(67, 99, 37);
    color: black;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
    margin-top: 30px;

    transition: 0.2s;
}

.nav-button:hover {
    background-color: rgb(56, 82, 31);
    border-radius: 10px;
}

#navbar {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 50px;
}

.tabcontent {
    display: none;
}

h1, h2 {
    text-align: center;
}



#im {
    width: 500px;
    margin-left: 10px;
    border-radius: 5px;

}

#ima {
    width: 200px;
    margin-left: 10px;
    border-radius: 5px;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    background-color: #095e2c;
    border-radius: 20px;
    border: 3px solid rgb(75, 39, 10);
}

p {
    margin-left: 10px;
    font-style: italic;
}

#imtxt {
    font-size: small;
    margin-bottom: 50px;
}

h3 {
    margin-left: 10px;
}


* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#i {
    font-style: normal;
}

hr {
    border-color: black;
    margin-bottom: 10px;
}

#res {
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    display: block;
}

iframe {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#ab {
    width: 300px;
    border-radius: 10px;
    margin: 0.5em 0 1.3em 1.4em;
    clear: right;
    float: right;
}

