body{
    background-image: url(images/background.avif);
}
#kezdo{
    height: 250px;
    width: auto;
    display: block;
    margin: auto;

}

div{
    background-color:rgba(250, 218, 221, 0.9);
    padding: 10px;
    width: 950px;
    display: block;
    margin: auto;
}
footer{
    height: 200px;
}
#valaszto{
    list-style-type: none;
    text-align: center;
}
#valaszto li{
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}
header a{
    text-decoration: none;
    font-size: larger;
    color: deeppink;
    font-weight: bolder;
}
p{
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    font-size: larger;
}
main p{
    background-color: pink;
}
#terkep{
    width: 250px;
    display: inline-block;
}
td{
    border: 1px solid lightgoldenrodyellow;
    font-style: italic;
    font-weight: bolder;
}
table{
    text-align: center;
    background-color: lightsteelblue;
    margin-left: auto;
    margin-right: auto ;
}
tr{
    height: 50px;

}
#kepul{
    list-style-type: none;
    text-align: center;
}
#kepul li{
    display: inline;
}
#kepul img{
    width: 220px;
    height: 150px;
    border: 2px pink solid;
}
#kepul img:hover{
    border:2px solid red ;
    transform: scale(0.75);
}
#kepul img:active{
    border:2px solid darkorchid;
    transform: scale(0.9);
}
#kepul img:visited{
    border: 2px solid purple;
}
#kepterkep{
    font-size: smaller;
}
