body {
    background-image: url('images/vidra.jpg');
    background-size: cover;
    background-attachment: scroll;
    font-family: Arial, sans-serif;
    color: blue;
}

.container {
    width: 950px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

.fejlec {
    height: 200px;
    text-align: center;
}

.fejlec img:hover{
    transform: skew(5deg, 5deg);
}

.fejlec ul {
    list-style-type: none;
    padding: 0px;
}

.fejlec ul li {
    display: inline;
    margin: 0px 15px;
}

.fejlec a {
    text-decoration: none;
    font-size: 18px;
    color: darkblue;
}

.tartalom {
    padding: 10px;
}

.labrész {
    text-align: center;
    padding: 10px;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
}

.galeria {
    list-style-type: none;
    padding: 0px;
    text-align: center;
}

.galeria li {
    display: inline;
    margin: 10px;
}

.galeria img {
    width: 150px;
    transition: transform 0.2s;
    border: 2px solid blue;
}

.cimsor{
    text-align: center;
}

td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table{
    border: 1px solid black;
    color: blue;
    background-color: lightblue;
    table-layout: fixed;
    margin: auto;
}

.galeria img:hover{
    transform: scale(.75);
}

b{
    text-decoration: underline;
}
